<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WYGColorChange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E77BAC71F0CCBD600DAE7D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E77BAE01F0CCBD600DAE7D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E77BAEB1F0CCBD600DAE7D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
